:root{
    --content-background: #111;
    --content-word: #b2b2b2;
    --contrast: #febe01;
    --contrast-word: #332200;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none ;
}
#main-content{
    text-align: center;
}
.product, a[type=button]{
    border: 0;
    border-radius: 4px;
}
.product{
    background-color: var(--content-background);
    color: var(--content-word);
    padding: 30px;
    margin: 0 40px 40px 20px;
    text-align: left;
}
.product h2{
    color: white;
    margin:0px ;
}

strong{
    color: var(--contrast)
}
a[type=button]{
    display: inline-block;
    background: var(--contrast);
    color: var(--contrast-word);
    padding: 15px;
    margin-top: 5px;
    font-size: large;
}