@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1a2210d0;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1{
    color: #6A7555;
    text-align: center;
    text-shadow: 1px 1px 2px #5b6449;
}

h2{
    color: #819073;

}
body{
    background-image: linear-gradient(to right, #819073, #606D41);
}
p{
    text-align: justify;
}